@import "../../app.scss";

.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            align-self: center;
            text-align: center;
            flex-direction: column;
           }

        p {
            font-weight: 280;
            font-size: 20px;
            color: lightgray;
            text-align: right;
        }

        hr {
            width: 180px;
            border: none;
            border-top: 0.5px solid gray;

            @include mobile{
               width: 100px;
               }
        }

    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile{
            width: 100%;
           }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile{
                flex-direction: column;
                text-align: center;
                gap: 20px;
               }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
                @include mobile{
                    width: 200px;
                    height: 50px;
                   }

            }

            h1 {
                font-size: 50px;
                font-weight: 100;

                @include mobile{
                    font-size: 2;
                   }

            }

            button {
                width: 200px;
                height: 60px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 20px;
                cursor: pointer;

                @include mobile{
                   font-size: 10px;
                   width: 100px;
                   height: 30px;
                   }
            }

        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 900px;
        margin: auto;

        @include mobile{
          flex-direction: column;
          width: 100%;
          padding: 10px;
          
           }
        .box {
            padding: 10px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile{
                border: none;
                align-items: center;
                gap: 15px;
               }

            p {
                @include mobile{
                  display: none;
                   }

                font-size: 14px;
                text-align: center;
            }

            h2{
                text-align: center;

            }
        }

        button {
            padding: 10px;
            margin:10px;
            background-color: orange;
            border: none;
            cursor: pointer;

            @include mobile{
               background-color: transparent;
               color: orange;
               border: 1px solid orange;
               border-radius: 5px;
               width: 50%;
               padding: 5px;

               }
        }
    }
}